<div class="add-contact-page">

    <div class="row">

        <div class="col-sm-11">
            <div class="heading">
                <h3>Add Contact</h3>
            </div>

            <div class="contact-container">
                <form name="contactForm">
                    <!-- Contact Name -->
                    <div class="form-group row">
                        <label for="contact-name" class="col-xs-3 col-form-label">Contact Name</label>
                        <div class="col-xs-9">
                            <input class="form-control" placeholder="John Smith" type="text" ng-model="contact.contact_name" id="contact-name" required>
                        </div>
                    </div>

                    <!-- Contact Email -->
                    <div class="form-group row">
                        <label for="contact-email" class="col-xs-3 col-form-label">Contact Email</label>
                        <div class="col-xs-9">
                            <input class="form-control" placeholder="example@email.com" type="email" ng-model="contact.contact_email" id="contact-email" required>
                        </div>
                    </div>

                    <!-- Contact Phone -->
                    <div class="form-group row">
                        <label for="contact-phone" class="col-xs-3 col-form-label">Contact Phone</label>
                        <div class="col-xs-9">
                            <input class="form-control" placeholder="250-512-9983" type="text" ng-model="contact.contact_phone" ng-pattern="phonePattern" id="contact-phone" required>
                        </div>
                    </div>

                    <!-- Contact Mailing Address -->
                    <div class="form-group row">
                        <label for="contact-mailing-address" class="col-xs-3 col-form-label">Contact Mailing Address</label>
                        <div class="col-xs-9">
                            <input class="form-control" placeholder="123 cook street" type="text" ng-model="contact.contact_mailing_address" id="contact-mailing-address" required>
                        </div>
                    </div>

                    <!-- Activity -->
                    <div class="form-group row">
                        <label for="contact-activity" class="col-xs-3 col-form-label">Activity</label>
                        <div class="col-xs-9">
                            <input class="form-control" placeholder="Yoga" type="text" ng-model="contact.activity" id="contact-activity" required>
                        </div>
                    </div>

                    <div class="help">
                        <span>*All fields required</span>
                        <br>
                        <span>*Phone numbers should be in format: xxx-xxx-xxxx</span>
                    </div>

                    <div class="text-center">
                        <button ng-disabled="!contactForm.$valid" class="btn btn-primary" ng-click="addContact()">Add</button>
                        <button class="btn btn-default" ui-sref="contacts">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
